body{
    padding: 0%;
    margin: 0%;
    background: linear-gradient(to right, #5663ef, #f47086, #ff6b6b);
    justify-content: center;
    text-align: center;
}
.container{
    max-width: 400px;
    padding: 0%;
    margin: 0%;

}

.small-container{
    margin: 15px;

} 

#resultdisplay{
    background-color: black;
    color: #f6f6f6;
    border-radius: 5%;
    margin: 50px;
    
}