body{
    padding: 0;
    margin: 0;
    background-image: url('images memory/background1.jpg');
    background-size: cover;
    background-position: center -26%;
    background-repeat: no-repeat;
}
#game-title{
  background-color: brown;
  text-align: center;
}
#click{
    /* text-align: center; */
    color: rgb(0, 0, 0);
}
#score{
    /* text-align: center; */
    color: rgb(0, 0, 0);
}

#grid{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 400px;
}
#center{
    width: 100%;
    justify-content: center;
    display: flex;
}